<h1>{{ title }}</h1>

<ul>
  <li>
    <a href="biz-simple?section=">
      <span>🌎</span> 전체
    </a>
  </li>
  {{#each list}}
    <li>
      <a href="biz-simple?section={{ id }}">
        <span>{{ icon }}</span>
        {{ name }}
      </a>
    </li>
  {{/each}}
</ul>